h1{
    color: blue;
    border: 1px solid;
    font-size: 34px;
    font-weight:lighter;
}
p{
    border: 1px dotted red;
    font-size: 34px;
    font-weight:bold;
    letter-spacing: 2px;
}